@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 60% 99%;
    --foreground: 30 100% 4%;
    --card: 160 10% 90%;
    --card-foreground: 0 0% .1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 160 12.6% 32.7%;
    --primary-foreground: 0 0% 98%;
    --secondary: 50 91% 52%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 40%;
    --accent: 142 35% 76%;
    --accent-foreground: 0 0% 9%;
    --destructive: 3 73% 44%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 86%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 160 12.6% 8%;
    --foreground: 30 60% 97%;
    --card: 160 12.6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 50 91% 52%;
    --primary-foreground: 0 0% 9%;
    --secondary: 160 12.6% 49%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 29%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 160 12.6% 80%;
    --accent-foreground: 30 100% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 60%;
    --input: 0 0% 3.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: var(--font-karla-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-markazi-text), serif;
}
